html {
	width: 85%;
	height: 100%;
	margin: 10px auto 0px auto;
}

body {
	height: 100%;
	background-color: #EEF0F2;
	font-family: 'Lato', sans-serif;
}

/*===========
   Site Main
 ==========*/
.main {
	height: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.main > .content {
	width: 75%;
	height: 80%;
	border-radius: 8px;
	margin-right: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*=================
   Site Header Bar
 ================*/
.header {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.header > .logo {
	font-size: 28px;
	margin-top: 6px;
	margin-left: 28px;
}

.header > .logo > span {
	font-weight: 700;
}

.header > .logout {
	font-size: 20px;
	margin-top: 15px;
	margin-right: 20px;
}

/*===========
   Site Nav
 ==========*/
.main > .nav {
	width: 20%;
	height: 80%;
	margin-left: 25px;
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

/*==============
   Profile
 =============*/
.profile {
	width: 100%;
}

.profile > .sectionOne {
	margin: 22px 0px 15px 0px;
}

.profile > .sectionOne > .image {
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

.profile > .sectionOne  > .name {
	font-size: 20px;
	text-transform: capitalize;
}

.profile > .sectionOne  > .age {
	color: #AEAEAE;
	font-size: 12px;
	font-weight: 300;
	text-transform: capitalize;
}

.profile > .sectionTwo {
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}

.profile > .sectionTwo > .weight, .profile > .sectionTwo > .height {
	text-align: center;
	border-right: 1px solid #F1F1F1;
	padding: 5px 0px 5px 0px;
}

.profile > .sectionTwo > .weight > .title, .profile > .sectionTwo > .height > .title {
	color: #47D9FC;
	font-size: 16px;
	text-transform: uppercase;
}

.profile > .sectionTwo > .weight > .content, .profile > .sectionTwo > .height > .content {
	font-size: 18px;
}

.profile > .sectionTwo > .weight > .content > span, .profile > .sectionTwo > .height > .content > span {
	color: #AEAEAE;
	font-size: 12px;
}

/*==============
   Menu
 =============*/
.menu {
	height: 57%;
}

.menu > div {
	font-size: 16px;
	font-weight: 600;
	margin: 18px 0px 0px 25px;
}

.menu > div > a {
	color: #686868;
	text-decoration: none;
}

.menu > div > a:hover {
	color: #FF597E;
}

/*==============
   Login Page
 =============*/
.login {
	margin: 120px 0px 0px 25px;
}

.login > .username, .login > .password {
	width: 30%;
	height: 45px;
	margin: 0px 0px 5px 0px;
}

.login > .btn {
	width: 30%;
	margin-top: 10px;
}

.login > a {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}

/*=================
   Register Page
 ================*/
.register {
	width: 40%;
	margin: 0px auto 0px auto;
}

.register > .container > h1 {
	text-align: center;
}

.register > .container > .row > .col-6 > .firstname, .register > .container > .row > .col-6 > .lastname {
	width: 100%;
	height: 45px;
	margin: 0px 0px 5px 0px;
}

.register > .container > .row > .col-6 > .gender, .register > .container > .row > .col-6 >  .birthday{
	width: 100%;
	height: 45px;
	margin: 0px 0px 5px 0px;
}

.register > .container > .row > .col-6 > .weight, .register > .container > .row > .col-6 > .height{
	width: 100%;
	height: 45px;
	margin: 0px 0px 5px 0px;
}

.register > .container > .username, .register > .container > .password {
	width: 100%;
	height: 45px;
	margin: 0px 0px 8px 0px;
}

.register > .container > .btn {
	margin-left: 30%;
	margin-top: 10px;
}

.register > .container > a {
	display: block;
	font-size: 12px;
	margin-left: 42%;
	margin-top: 10px;
	margin-bottom: 15px;
}

/*======================
  Activity Log Page
 =====================*/
.activityLog {
	padding: 20px 50px 0px 50px;
}

.activityLog > h1 {
	margin-bottom: 10px;
}


/*======================
  Add Activity Log Page
 =====================*/
.addActivityLog {
	width: 100%;
	margin: 20px 0px 0px 50px;
}

.addActivityLog > .container > .row > .col-8 {
	margin-top: 18px;
}

.addActivityLog > .container > .row > .calories{
	font-size: 26px;
}

.addActivityLog > .container > .row > .col-8 > .activity {
	text-transform: capitalize;
}

.addActivityLog > input {
	margin: 20px 0px 0px 15px;
}